Repository opentdf/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, comp:sdk, comp:ci, comp:db, comp:kas, comp:policy, comp:authorization, comp:examples, comp:lib:fixtures, comp:lib:flattening, comp:lib:ocrypto, comp:middleware:auth

generate ersv2 code
  sdk/internal/codegen/runner/generate.go
  sdk/sdkconnect/entityresolutionv2.go
Labels: comp:sdk

save changes
  service/policy/db/key_access_server_registry.go
  service/policy/db/query.sql
  service/policy/db/query.sql.go
  service/policy/kasregistry/key_access_server_registry.go
Labels: comp:db, comp:policy

add additional action attr val to create test
  service/integration/registered_resources_test.go
Labels: none

chore(examples): Lint fixes (#2225)
  .github/workflows/checks.yaml
  Makefile
  examples/cmd/attributes.go
  examples/cmd/authorization.go
  examples/cmd/benchmark.go
  examples/cmd/benchmark_bulk.go
  examples/cmd/benchmark_decision.go
  examples/cmd/decrypt.go
  examples/cmd/docs.go
  examples/cmd/encrypt.go
  examples/cmd/examples.go
  examples/cmd/isvalid.go
  examples/cmd/isvalid_test.go
  examples/cmd/kas.go
  examples/cmd/metrics.go
  service/entityresolution/claims/entity_resolution.go
  service/entityresolution/keycloak/entity_resolution.go
Labels: comp:ci, comp:examples

evaluate.go go fmt
  service/internal/access/v2/evaluate.go
Labels: none

move authorization test clients to separate file, implement interface
  service/authorization/authorization_test.go
  service/authorization/authorization_test_structures.go
Labels: comp:authorization

fix(core): Let legacy KAOs use new trust plugins (#2218)
  service/internal/security/crypto_provider.go
  service/internal/security/in_process_provider.go
  service/internal/security/standard_crypto.go
  service/internal/security/standard_only.go
  service/internal/server/server.go
  service/kas/access/provider.go
  service/kas/access/publicKey.go
  service/kas/access/publicKey_test.go
  service/kas/access/rewrap.go
  service/kas/access/rewrap_test.go
  service/kas/kas.go
  test/tdf-roundtrips.bats
Labels: comp:kas

fix err sp
  service/pkg/db/errors.go
Labels: none

Update README.md
  examples/ckms/README.md
Labels: comp:examples

WIP CKMS EXAMPLE(s)
  examples/ckms/README.md
  examples/ckms/cfg-vault.yaml
  examples/ckms/docker-compose.yaml
  examples/ckms/main.go
  examples/ckms/vault/index.go
  examples/ckms/vault/policy-admin.hcl
  examples/ckms/vault/policy-service.hcl
  examples/ckms/vault/policy-viewer.hcl
  examples/go.mod
  examples/go.sum
  vault-ca.pem
  vault-cert.pem
  vault-key.pem
Labels: comp:examples

WIP: ckms example startup scripts
  examples/ckms/README.md
  examples/ckms/setup_vault_env.sh
  examples/ckms/vault/index.go
  examples/ckms/vault/policy-service.hcl
Labels: comp:examples

vibecoded keyindex
  examples/ckms/README.md
  examples/ckms/setup_vault_env.sh
  examples/ckms/vault/index.go
  examples/ckms/vault/policy-admin.hcl
  examples/ckms/vault/policy-service.hcl
  examples/ckms/vault/policy-viewer.hcl
  examples/ckms/vault/vault_manager.go
Labels: comp:examples

WIP make keys useful
  examples/ckms/vault/vault_manager.go
  lib/ocrypto/asym_decryption.go
  lib/ocrypto/asym_encryption.go
Labels: comp:examples, comp:lib:ocrypto

WIP make it work
  examples/ckms/cfg-vault.yaml
  examples/ckms/main.go
  examples/ckms/setup_vault_env.sh
  examples/ckms/vault/index.go
  examples/ckms/vaultkms/policy-admin.hcl
  examples/ckms/vaultkms/policy-service.hcl
  examples/ckms/vaultkms/policy-viewer.hcl
  examples/ckms/vaultkms/vault_service.go
  lib/ocrypto/asym_decryption.go
Labels: comp:examples, comp:lib:ocrypto

Update vault_service.go
  examples/ckms/vaultkms/vault_service.go
Labels: comp:examples

Create .gitignore
  examples/ckms/.gitignore
Labels: comp:examples

cleanups
  .github/workflows/checks.yaml
  examples/ckms/new-keys.sh
  examples/ckms/setup-vault-env.sh
  examples/ckms/trust-sample.bats
Labels: comp:ci, comp:examples

cleanups
  examples/ckms/import-keys-from.sh
  examples/ckms/main.go
  examples/ckms/setup-vault-env.sh
  examples/ckms/vaultkms/vault_service.go
Labels: comp:examples

Update new_keys.sh
  examples/ckms/new_keys.sh
Labels: comp:examples

keyscritp
  examples/ckms/README.md
  examples/ckms/new_keys.sh
Labels: comp:examples

Update vault_service.go
  examples/ckms/vaultkms/vault_service.go
Labels: comp:examples

fixes
  .github/workflows/checks.yaml
Labels: comp:ci

fixes
  .github/workflows/checks.yaml
  examples/ckms/trust-sample.bats
Labels: comp:ci, comp:examples

chore(examples): Lint fixes
  examples/ckms/main.go
  examples/ckms/vaultkms/vault_service.go
  examples/cmd/benchmark.go
  examples/cmd/benchmark_bulk.go
Labels: comp:examples

feat(core): Expose needed DecryptWithX method
  lib/ocrypto/asym_decryption.go
Labels: comp:lib:ocrypto

linter fixes
  examples/ckms/main.go
  examples/ckms/vaultkms/vault_service.go
Labels: comp:examples

Update benchmark.go
  examples/cmd/benchmark.go
Labels: comp:examples

linting
  sdk/nanotdf.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/tdf_test.go
Labels: comp:sdk

feat(policy): DSPX-1057 registered resource action attribute values (DB + Service implementation) (#2191)
  service/integration/registered_resources_test.go
  service/internal/fixtures/fixtures.go
  service/internal/fixtures/policy_fixtures.yaml
  service/pkg/db/db.go
  service/policy/db/copyfrom.go
  service/policy/db/db.go
  service/policy/db/migrations/20250506000000_registered_resources_action_and_attribute_values.md
  service/policy/db/migrations/20250506000000_registered_resources_action_and_attribute_values.sql
  service/policy/db/models.go
  service/policy/db/query.sql
  service/policy/db/query.sql.go
  service/policy/db/registered_resources.go
  service/policy/db/schema_erd.md
  service/policy/registeredresources/registered_resources_test.go
Labels: comp:db, comp:policy

linting
  service/authorization/authorization_test_structures.go
Labels: comp:authorization

linting
  service/authorization/authorization_test_structures.go
Labels: comp:authorization

undo listener changes
  service/internal/server/server.go
  service/pkg/server/start.go
Labels: none

fix: update keymode to be less generic
  docs/grpc/index.html
  docs/openapi/policy/actions/actions.swagger.json
  docs/openapi/policy/attributes/attributes.swagger.json
  docs/openapi/policy/kasregistry/key_access_server_registry.swagger.json
  docs/openapi/policy/namespaces/namespaces.swagger.json
  docs/openapi/policy/registeredresources/registered_resources.swagger.json
  docs/openapi/policy/resourcemapping/resource_mapping.swagger.json
  docs/openapi/policy/subjectmapping/subject_mapping.swagger.json
  docs/openapi/policy/unsafe/unsafe.swagger.json
  protocol/go/CHANGELOG.md
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  protocol/go/policy/objects.pb.go
  service/policy/db/key_access_server_registry.go
  service/policy/kasregistry/key_access_server_registry.proto
  service/policy/kasregistry/key_access_server_registry_keys_test.go
  service/policy/objects.proto
Labels: docs, comp:db, comp:policy

PR feedback optimizations
  service/internal/subjectmappingbuiltin/subject_mapping_builtin_actions.go
Labels: none

add cache manager
  service/pkg/cache/cache.go
Labels: none

integrate cachemanager
  service/pkg/server/services.go
  service/pkg/server/services_test.go
  service/pkg/server/start.go
  service/pkg/server/start_test.go
  service/pkg/serviceregistry/serviceregistry.go
Labels: none

WIP userinfo support
  opentdf-dev.yaml
  service/go.mod
  service/go.sum
  service/internal/auth/authn.go
  service/internal/auth/casbin.go
  service/internal/auth/casbin_test.go
  service/internal/auth/config.go
  service/internal/server/server.go
  service/pkg/oidcuserinfo/fetch.go
  service/pkg/oidcuserinfo/userinfo.go
  service/pkg/oidcuserinfo/userinfo_test.go
Labels: comp:middleware:auth

updated enum names
  docs/grpc/index.html
  docs/openapi/policy/actions/actions.swagger.json
  docs/openapi/policy/attributes/attributes.swagger.json
  docs/openapi/policy/kasregistry/key_access_server_registry.swagger.json
  docs/openapi/policy/namespaces/namespaces.swagger.json
  docs/openapi/policy/registeredresources/registered_resources.swagger.json
  docs/openapi/policy/resourcemapping/resource_mapping.swagger.json
  docs/openapi/policy/subjectmapping/subject_mapping.swagger.json
  docs/openapi/policy/unsafe/unsafe.swagger.json
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  protocol/go/policy/objects.pb.go
  service/integration/kas_registry_key_test.go
  service/integration/kas_registry_test.go
  service/policy/db/key_access_server_registry.go
  service/policy/kasregistry/key_access_server_registry.proto
  service/policy/kasregistry/key_access_server_registry_keys_test.go
  service/policy/objects.proto
Labels: docs, comp:db, comp:policy

cleanup proto validation
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  service/policy/kasregistry/key_access_server_registry.proto
  service/policy/kasregistry/key_access_server_registry_keys_test.go
Labels: comp:policy

update enum descriptions
  docs/grpc/index.html
  docs/openapi/policy/actions/actions.swagger.json
  docs/openapi/policy/attributes/attributes.swagger.json
  docs/openapi/policy/kasregistry/key_access_server_registry.swagger.json
  docs/openapi/policy/namespaces/namespaces.swagger.json
  docs/openapi/policy/registeredresources/registered_resources.swagger.json
  docs/openapi/policy/resourcemapping/resource_mapping.swagger.json
  docs/openapi/policy/subjectmapping/subject_mapping.swagger.json
  docs/openapi/policy/unsafe/unsafe.swagger.json
  protocol/go/policy/objects.pb.go
  service/policy/objects.proto
Labels: docs, comp:policy

.github/labeler.yml:

docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**/*'
comp:sdk:
- changed-files:
  - any-glob-to-any-file:
    - 'sdk/**/*'
comp:ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
comp:db:
- changed-files:
  - any-glob-to-any-file:
    - 'service/policy/db/**/*'
comp:kas:
- changed-files:
  - any-glob-to-any-file:
    - 'service/kas/**'
comp:policy:
  - changed-files:
    - any-glob-to-any-file:
      - 'service/policy/**/*'
comp:authorization:
  - changed-files:
    - any-glob-to-any-file:
      - 'service/authorization/**/*'
comp:examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**/*'
comp:lib:fixtures:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/fixtures/**/*'
comp:lib:flattening:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/flattening/**/*'
comp:lib:ocrypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/ocrypto/**/*'
comp:middleware:auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'service/internal/auth/**/*'
