Repository opentdf/platform, pull requests merged in 2025-10, with the labels that each got.

#2784 chore(docs): Fix unrenamed field in docs
  docs/Configuring.md
Labels: size/s, docs

#2786 feat(policy): Add obligation support to KAS
  service/kas/access/accessPdp.go
  service/kas/access/rewrap.go
  service/kas/access/rewrap_test.go
Labels: comp:kas, size/m

#2787 fix(core): CORS
  .github/workflows/checks.yaml
  opentdf-dev.yaml
  service/internal/server/server.go
  test/service-cors.bats
Labels: size/m
