Repository opentdf/platform, pull requests merged in 2025-05, with the labels that each got.

#2221 chore(ci): pr size labeler needs issues:write
  .github/workflows/label.yaml
Labels: comp:ci

#2225 chore(examples): Lint fixes
  .github/workflows/checks.yaml
  Makefile
  examples/cmd/attributes.go
  examples/cmd/authorization.go
  examples/cmd/benchmark.go
  examples/cmd/benchmark_bulk.go
  examples/cmd/benchmark_decision.go
  examples/cmd/decrypt.go
  examples/cmd/docs.go
  examples/cmd/encrypt.go
  examples/cmd/examples.go
  examples/cmd/isvalid.go
  examples/cmd/isvalid_test.go
  examples/cmd/kas.go
  examples/cmd/metrics.go
  service/entityresolution/claims/entity_resolution.go
  service/entityresolution/keycloak/entity_resolution.go
Labels: size/m

#2237 chore(ci): Stops dependabot for 3rd party go mods
  .github/dependabot.yml
Labels: comp:ci, size/s

#2236 chore(ci): move to labels to flag large pull requests
  .github/workflows/label.yaml
  .policy.yml
Labels: size/s

#2261 feat(authz): export entity id prefix constant from entity instead of authorization service v1
  service/authorization/authorization.go
  service/entity/entity.go
  service/entityresolution/claims/entity_resolution.go
  service/entityresolution/claims/v2/entity_resolution.go
  service/entityresolution/keycloak/entity_resolution.go
  service/entityresolution/keycloak/v2/entity_resolution.go
Labels: comp:authorization, size/s, external-contributor

#2224 feat(policy): Finish resource mapping groups
  docs/grpc/index.html
  docs/openapi/policy/actions/actions.swagger.json
  docs/openapi/policy/attributes/attributes.swagger.json
  docs/openapi/policy/registeredresources/registered_resources.swagger.json
  docs/openapi/policy/resourcemapping/resource_mapping.swagger.json
  docs/openapi/policy/subjectmapping/subject_mapping.swagger.json
  docs/openapi/policy/unsafe/unsafe.swagger.json
  protocol/go/policy/objects.pb.go
  service/integration/attribute_fqns_test.go
  service/integration/resource_mappings_test.go
  service/pkg/db/errors.go
  service/policy/db/query.sql
  service/policy/db/query.sql.go
  service/policy/db/resource_mapping.go
  service/policy/db/utils.go
  service/policy/objects.proto
Labels: comp:db, comp:policy, docs

#2272 fix: handle empty private and public key ctx structs
  service/policy/db/key_access_server_registry.go
  service/policy/db/utils.go
  service/policy/db/utils_test.go
Labels: comp:db, comp:policy, size/xs

#2286 fix(sdk): adds connection options to getPlatformConfiguration
  sdk/sdk.go
Labels: comp:sdk, size/xs

#2285 feat(core): enhance db configuration options
  docs/Configuring.md
  opentdf-dev.yaml
  opentdf-example.yaml
  service/pkg/db/db.go
  service/pkg/db/db_test.go
Labels: size/m, external-contributor, docs

#2271 chore(core): add command to handle variance in env variables for M4 chips
  README.md
  docker-compose.yaml
  run-compose.sh
Labels: size/s

#2264 feat(authz): access pdp v2 with actions
  service/internal/access/v2/evaluate.go
  service/internal/access/v2/evaluate_test.go
  service/internal/access/v2/helpers.go
  service/internal/access/v2/helpers_test.go
  service/internal/access/v2/just_in_time_pdp.go
  service/internal/access/v2/pdp.go
  service/internal/access/v2/pdp_test.go
  service/internal/access/v2/validators.go
  service/internal/access/v2/validators_test.go
Labels: external-contributor, size/xl

#2321 fix(policy): Ensure non active keys cannot be assigned.
  service/integration/attribute_values_test.go
  service/integration/attributes_test.go
  service/integration/namespaces_test.go
  service/internal/fixtures/policy_fixtures.yaml
  service/policy/db/attribute_values.go
  service/policy/db/attributes.go
  service/policy/db/key_access_server_registry.go
  service/policy/db/namespaces.go
Labels: comp:db, comp:policy, size/s, external-contributor

#2323 chore(deps): update protocol go in service to v0.3.6
  service/go.mod
  service/go.sum
Labels: size/xs, external-contributor

#2324 feat(policy): map and merge grants and keys
  service/policy/db/attribute_fqn.go
  service/policy/db/attributes.go
  service/policy/db/grant_mappings.go
  service/policy/db/grant_mappings_test.go
Labels: comp:db, comp:policy, size/m

#2332 fix(ci): Fixes issues in attested docker builds
  .github/workflows/release-build.yaml
Labels: comp:ci, size/s

#2333 chore(ci): Annotate pinned actions with versions
  .github/workflows/action-lint.yaml
  .github/workflows/checks.yaml
  .github/workflows/codeql.yaml
  .github/workflows/friendly-reminders.yaml
  .github/workflows/label.yaml
  .github/workflows/languagetool.yaml
  .github/workflows/nightly-build.yaml
  .github/workflows/nightly-checks.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/release-build.yaml
  .github/workflows/release.yaml
  .github/workflows/sonarcloud.yml
  .github/workflows/stale.yaml
  .github/workflows/traffic.yaml
  .github/workflows/vulnerability-check.yaml
  test/start-additional-kas/action.yaml
  test/start-up-with-containers/action.yaml
Labels: comp:ci, size/m
