Repository opentdf/platform, pull requests merged in 2025-06, with the labels that each got.

#2343 fix(policy): all policy services should gracefully close
  service/policy/actions/actions.go
  service/policy/attributes/attributes.go
  service/policy/kasregistry/key_access_server_registry.go
  service/policy/keymanagement/key_management.go
  service/policy/namespaces/namespaces.go
  service/policy/registeredresources/registered_resources.go
  service/policy/resourcemapping/resource_mapping.go
  service/policy/subjectmapping/subject_mapping.go
  service/policy/unsafe/unsafe.go
Labels: comp:policy, size/s, external-contributor

#2340 feat(policy): optimize ListAttributes and ListSubjectMappings db indices
  service/policy/db/migrations/20250530000000_optimize-entitlement-list-indices.md
  service/policy/db/migrations/20250530000000_optimize-entitlement-list-indices.sql
Labels: comp:db, comp:policy, size/s, external-contributor

#2348 feat(core): Prefers an ellipsized version
  service/pkg/server/options.go
Labels: size/xs

#2357 feat(authz): improve v2 request proto validation
  protocol/go/authorization/v2/authorization.pb.go
  service/authorization/v2/authorization.proto
  service/authorization/v2/authorization_test.go
Labels: comp:authorization, size/s, external-contributor

#2373 fix(policy): remove support for creation/updation of SubjectMappings with deprecated proto actions
  service/policy/db/subject_mappings.go
Labels: comp:db, comp:policy, size/s, external-contributor

#2382 fix(policy): remove gRPC gateway in policy except where needed
  docs/grpc/index.html
  docs/openapi/policy/attributes/attributes.swagger.json
  docs/openapi/policy/kasregistry/key_access_server_registry.swagger.json
  docs/openapi/policy/namespaces/namespaces.swagger.json
  docs/openapi/policy/resourcemapping/resource_mapping.swagger.json
  docs/openapi/policy/unsafe/unsafe.swagger.json
  protocol/go/policy/attributes/attributes.pb.go
  protocol/go/policy/attributes/attributes.pb.gw.go
  protocol/go/policy/attributes/attributesconnect/attributes.connect.go
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  protocol/go/policy/kasregistry/key_access_server_registry.pb.gw.go
  protocol/go/policy/namespaces/namespaces.pb.go
  protocol/go/policy/namespaces/namespaces.pb.gw.go
  protocol/go/policy/resourcemapping/resource_mapping.pb.go
  protocol/go/policy/resourcemapping/resource_mapping.pb.gw.go
  protocol/go/policy/unsafe/unsafe.pb.go
  protocol/go/policy/unsafe/unsafe.pb.gw.go
  service/policy/attributes/attributes.proto
  service/policy/kasregistry/key_access_server_registry.proto
  service/policy/namespaces/namespaces.go
  service/policy/namespaces/namespaces.proto
  service/policy/resourcemapping/resource_mapping.go
  service/policy/resourcemapping/resource_mapping.proto
  service/policy/unsafe/unsafe.proto
Labels: comp:policy, size/m, external-contributor, docs

#2386 chore(ci): Use GitHub app token for backport action
  .github/workflows/reusable_backport.yaml
Labels: comp:ci, size/xs, external-contributor

#2381 chore(ci): only bump minor on main
  release-please_main-branch.json
Labels: size/xs

#2378 feat(policy): Update simple kas key
  docs/grpc/index.html
  docs/openapi/authorization/v2/authorization.openapi.yaml
  docs/openapi/kas/kas.openapi.yaml
  docs/openapi/policy/actions/actions.openapi.yaml
  docs/openapi/policy/attributes/attributes.openapi.yaml
  docs/openapi/policy/kasregistry/key_access_server_registry.openapi.yaml
  docs/openapi/policy/kasregistry/key_access_server_registry.swagger.json
  docs/openapi/policy/namespaces/namespaces.openapi.yaml
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/registeredresources/registered_resources.openapi.yaml
  docs/openapi/policy/resourcemapping/resource_mapping.openapi.yaml
  docs/openapi/policy/subjectmapping/subject_mapping.openapi.yaml
  docs/openapi/policy/unsafe/unsafe.openapi.yaml
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  service/integration/kas_registry_key_test.go
  service/pkg/db/marshalHelpers.go
  service/policy/db/key_access_server_registry.go
  service/policy/db/query.sql
  service/policy/db/query.sql.go
  service/policy/kasregistry/key_access_server_registry.proto
Labels: comp:db, comp:policy, size/s, external-contributor, docs

#2390 chore(core): re-organize rego location within service module
  service/authorization/authorization.go
  service/authorization/policies/embed.go
  service/authorization/policies/entitlements/README.md
  service/authorization/policies/entitlements/entitlements.rego
  service/authorization/policies/entitlements/input.json
  service/policies/entitlements/README.md
Labels: comp:authorization, size/s, external-contributor

#2385 feat(sdk): adds seeker interface to TDF Reader
  sdk/tdf.go
  sdk/tdf_test.go
Labels: comp:sdk, size/s

#2391 feat(policy): Unique name for the key provider.
  service/integration/keymanagement_test.go
  service/policy/db/migrations/20250605000000_unique_provider_name.md
  service/policy/db/migrations/20250605000000_unique_provider_name.sql
  service/policy/db/schema_erd.md
Labels: comp:db, comp:policy, size/s, external-contributor

#2402 chore(ci): set backport to open draft pr's on conflicts
  .github/workflows/reusable_backport.yaml
Labels: comp:ci, size/xs

#2370 fix: only request a token when near expiration
  service/entityresolution/keycloak/entity_resolution.go
  service/entityresolution/keycloak/entity_resolution_test.go
  service/entityresolution/keycloak/v2/entity_resolution.go
  service/entityresolution/keycloak/v2/entity_resolution_test.go
Labels: size/m

#2396 feat(core): DSPX-609 - add cli-client to keycloak provisioning
  docs/Configuring.md
  service/cmd/keycloak_data.yaml
Labels: size/s, external-contributor, docs

#2403 fix(policy): fix casing bug and get provider config on update.
  service/go.mod
  service/integration/keymanagement_test.go
  service/policy/db/key_management.go
Labels: comp:db, comp:policy, size/s, external-contributor

#2414 feat(policy): Restrict deletion of pc with used key.
  service/integration/kas_registry_key_test.go
  service/integration/keymanagement_test.go
  service/policy/db/key_access_server_registry.go
  service/policy/db/migrations/20250609000000_restrict_provider_deletion.md
  service/policy/db/migrations/20250609000000_restrict_provider_deletion.sql
  service/policy/db/schema_erd.md
Labels: comp:db, comp:policy, size/s, external-contributor

#2417 chore(ci): Create separate release-please config files for each package
  .github/release-please/release-please-config.lib_fixtures.json
  .github/release-please/release-please-config.lib_flattening.json
  .github/release-please/release-please-config.lib_identifier.json
  .github/release-please/release-please-config.lib_ocrypto.json
  .github/release-please/release-please-config.main.json
  .github/release-please/release-please-config.protocol_go.json
  .github/release-please/release-please-config.sdk.json
  .github/release-please/release-please-config.service.json
  .github/release-please/release-please-manifest.json
  .github/workflows/reusable_release-please.yaml
  release-please_release-branches.json
Labels: comp:ci, size/m, external-contributor

#2422 fix(core): replace opentdf-public client with cli-client
  examples/cmd/benchmark_decision.go
  examples/cmd/benchmark_decision_v2.go
  service/cmd/keycloak_data.yaml
Labels: size/s, external-contributor, comp:examples

#2413 chore: remove grpc-gateway openapi docs
  buf.gen.openapi.docs.yaml
  docs/openapi/authorization/authorization.openapi.yaml
  docs/openapi/authorization/authorization.swagger.json
  docs/openapi/authorization/v2/authorization.openapi.yaml
  docs/openapi/authorization/v2/authorization.swagger.json
  docs/openapi/common/common.openapi.yaml
  docs/openapi/common/common.swagger.json
  docs/openapi/entity/entity.swagger.json
  docs/openapi/entityresolution/entity_resolution.swagger.json
  docs/openapi/entityresolution/v2/entity_resolution.swagger.json
  docs/openapi/kas/kas.openapi.yaml
  docs/openapi/kas/kas.swagger.json
  docs/openapi/policy/actions/actions.openapi.yaml
  docs/openapi/policy/actions/actions.swagger.json
  docs/openapi/policy/attributes/attributes.openapi.yaml
  docs/openapi/policy/attributes/attributes.swagger.json
  docs/openapi/policy/kasregistry/key_access_server_registry.openapi.yaml
  docs/openapi/policy/kasregistry/key_access_server_registry.swagger.json
  docs/openapi/policy/keymanagement/key_management.openapi.yaml
  docs/openapi/policy/keymanagement/key_management.swagger.json
  docs/openapi/policy/namespaces/namespaces.openapi.yaml
  docs/openapi/policy/namespaces/namespaces.swagger.json
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/objects.swagger.json
  docs/openapi/policy/registeredresources/registered_resources.openapi.yaml
  docs/openapi/policy/registeredresources/registered_resources.swagger.json
  docs/openapi/policy/resourcemapping/resource_mapping.openapi.yaml
  docs/openapi/policy/resourcemapping/resource_mapping.swagger.json
  docs/openapi/policy/selectors.swagger.json
  docs/openapi/policy/subjectmapping/subject_mapping.openapi.yaml
  docs/openapi/policy/subjectmapping/subject_mapping.swagger.json
  docs/openapi/policy/unsafe/unsafe.openapi.yaml
  docs/openapi/policy/unsafe/unsafe.swagger.json
  docs/openapi/wellknownconfiguration/wellknown_configuration.swagger.json
  protocol/go/CHANGELOG.md
Labels: size/xs, docs

#2439 chore(ci): Update target toolchain for govulncheck
  .github/workflows/checks.yaml
  .github/workflows/vulnerability-check.yaml
  examples/go.mod
  go.work
  lib/fixtures/go.mod
  lib/ocrypto/go.mod
  protocol/go/go.mod
  sdk/go.mod
  service/go.mod
Labels: comp:ci, comp:sdk, size/s, comp:examples, comp:lib:fixtures, comp:lib:ocrypto

#2438 feat(sdk): autoconfig kaos with kids
  sdk/granter.go
  sdk/granter_test.go
  sdk/resource_locator.go
  sdk/tdf.go
  sdk/tdf_config.go
Labels: comp:sdk, size/m

#2442 feat(core): consume RPC interceptor request context metadata in logging
  service/authorization/authorization.go
  service/logger/contextHandler.go
  service/logger/logger.go
  service/pkg/db/errors.go
  service/pkg/server/services.go
  service/policy/actions/actions.go
  service/policy/attributes/attributes.go
  service/policy/db/namespaces.go
  service/policy/db/registered_resources.go
  service/policy/kasregistry/key_access_server_registry.go
  service/policy/keymanagement/key_management.go
  service/policy/namespaces/namespaces.go
  service/policy/registeredresources/registered_resources.go
  service/policy/resourcemapping/resource_mapping.go
  service/policy/subjectmapping/subject_mapping.go
  service/policy/unsafe/unsafe.go
Labels: size/s, external-contributor

#2443 feat(authz): ensure logging parity between authz v2 and v1
  service/internal/access/v2/evaluate.go
  service/internal/access/v2/pdp.go
  service/internal/access/v2/pdp_test.go
  service/logger/audit/getDecision.go
  service/logger/audit/logger.go
Labels: size/m, external-contributor

#2446 feat: add system metadata assertions to TDFConfig
  sdk/assertion.go
  sdk/tdf.go
  sdk/tdf_config.go
  sdk/tdf_test.go
Labels: comp:sdk, size/s

#2451 fix: set consistent system metadata id and schema
  sdk/assertion.go
  sdk/tdf_test.go
Labels: comp:sdk, size/xs

#2448 feat(authz): authz v2 GetBulkDecision
  service/authorization/v2/authorization.go
  service/authorization/v2/authorization_test.go
  service/authorization/v2/helpers.go
  service/internal/access/v2/evaluate.go
  service/internal/access/v2/pdp.go
Labels: comp:authorization, size/s

#2449 feat(core): add cache manager
  docs/Configuring.md
  service/internal/server/server.go
  service/pkg/cache/cache.go
  service/pkg/cache/cache_test.go
  service/pkg/cache/config.go
  service/pkg/cache/config_test.go
  service/pkg/cache/ristretto.go
  service/pkg/cache/ristretto_test.go
  service/pkg/server/services.go
  service/pkg/server/services_test.go
  service/pkg/server/start.go
  service/pkg/server/start_test.go
  service/pkg/serviceregistry/serviceregistry.go
  service/pkg/util/relativesizes.go
  service/pkg/util/relativesizes_test.go
Labels: docs

#2456 fix(core): remove generics on new platform cache manager and client
  service/internal/server/server.go
  service/pkg/cache/cache.go
  service/pkg/cache/cache_test.go
  service/pkg/server/services.go
  service/pkg/server/start.go
  service/pkg/server/start_test.go
  service/pkg/serviceregistry/serviceregistry.go
Labels: size/s, external-contributor

#2455 chore(ci): generate public key instead of certificate
  .github/scripts/init-temp-keys.sh
Labels: comp:ci, size/s

#2463 chore(ci): need github app token to call org members api
  .github/workflows/label.yaml
Labels: comp:ci, size/xs

#2220 feat(policy)!: disable kas grants in favor of key mappings
  buf.yaml
  docs/grpc/index.html
  docs/openapi/policy/actions/actions.openapi.yaml
  docs/openapi/policy/attributes/attributes.openapi.yaml
  docs/openapi/policy/kasregistry/key_access_server_registry.openapi.yaml
  docs/openapi/policy/namespaces/namespaces.openapi.yaml
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/registeredresources/registered_resources.openapi.yaml
  docs/openapi/policy/resourcemapping/resource_mapping.openapi.yaml
  docs/openapi/policy/selectors.openapi.yaml
  docs/openapi/policy/subjectmapping/subject_mapping.openapi.yaml
  docs/openapi/policy/unsafe/unsafe.openapi.yaml
  examples/cmd/attributes.go
  protocol/go/policy/attributes/attributes.pb.go
  protocol/go/policy/attributes/attributes_grpc.pb.go
  protocol/go/policy/attributes/attributesconnect/attributes.connect.go
  protocol/go/policy/kasregistry/kasregistryconnect/key_access_server_registry.connect.go
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  protocol/go/policy/kasregistry/key_access_server_registry_grpc.pb.go
  protocol/go/policy/namespaces/namespaces.pb.go
  protocol/go/policy/namespaces/namespaces_grpc.pb.go
  protocol/go/policy/namespaces/namespacesconnect/namespaces.connect.go
  protocol/go/policy/objects.pb.go
  protocol/go/policy/selectors.pb.go
  service/go.mod
  service/integration/attribute_fqns_test.go
  service/integration/attribute_values_test.go
  service/integration/attributes_test.go
  service/integration/kas_registry_test.go
  service/integration/namespaces_test.go
  service/internal/fixtures/policy_fixtures.yaml
  service/policy/attributes/attributes.go
  service/policy/attributes/attributes.proto
  service/policy/attributes/attributes_test.go
  service/policy/db/attribute_values.go
  service/policy/db/attributes.go
  service/policy/db/key_access_server_registry.go
  service/policy/db/models.go
  service/policy/db/namespaces.go
  service/policy/db/query.sql
  service/policy/db/query.sql.go
  service/policy/kasregistry/key_access_server_registry.proto
  service/policy/kasregistry/key_access_server_registry_test.go
  service/policy/namespaces/namespaces.go
  service/policy/namespaces/namespaces.proto
  service/policy/namespaces/namespaces_test.go
  service/policy/objects.proto
  service/policy/selectors.proto
  test/policy-service.bats
  test/tdf-roundtrips.bats
Labels: comp:db, comp:policy, comp:ci, size/xl, docs, comp:examples

#2454 feat(sdk): Allow key splits with same algo
  sdk/basekey.go
  sdk/basekey_test.go
  sdk/basekeyerrors.go
  sdk/granter.go
  sdk/granter_test.go
  sdk/kas_client.go
  sdk/kas_client_test.go
  sdk/nanotdf.go
  sdk/tdf.go
  sdk/tdf_config.go
  sdk/tdf_test.go
Labels: comp:sdk, size/l, external-contributor

#2465 feat(main): Add Close() method to cache manager
  service/pkg/cache/cache.go
  service/pkg/cache/cache_test.go
  service/pkg/server/start.go
Labels: size/s

#2469 feat(policy): allow ListRegisteredResources to return ActionAttributeValues on RegisteredResourceValues
  service/integration/registered_resources_test.go
  service/policy/db/query.sql
  service/policy/db/query.sql.go
Labels: comp:db, comp:policy, size/s

#2466 feat(authz): Add caching to keycloak ERS
  service/entityresolution/keycloak/v2/entity_resolution.go
  service/entityresolution/keycloak/v2/entity_resolution_test.go
  service/entityresolution/keycloak/v2/retrieve.go
  service/entityresolution/keycloak/v2/retrieve_test.go
  service/pkg/cache/cache.go
Labels: size/m

#2473 fix(deps): bump github.com/opentdf/platform/sdk from 0.4.7 to 0.5.0 in /service
  service/go.mod
  service/go.sum
Labels: size/s

#2485 fix(core): Allow 521 curve to be used
  docs/openapi/authorization/authorization.openapi.yaml
  docs/openapi/authorization/v2/authorization.openapi.yaml
  docs/openapi/common/common.openapi.yaml
  docs/openapi/policy/actions/actions.openapi.yaml
  docs/openapi/policy/attributes/attributes.openapi.yaml
  docs/openapi/policy/kasregistry/key_access_server_registry.openapi.yaml
  docs/openapi/policy/keymanagement/key_management.openapi.yaml
  docs/openapi/policy/namespaces/namespaces.openapi.yaml
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/registeredresources/registered_resources.openapi.yaml
  docs/openapi/policy/resourcemapping/resource_mapping.openapi.yaml
  docs/openapi/policy/subjectmapping/subject_mapping.openapi.yaml
  docs/openapi/policy/unsafe/unsafe.openapi.yaml
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  service/policy/kasregistry/key_access_server_registry.proto
Labels: comp:policy, size/xs

#2499 chore(ci): add regex release branch scope
  .github/workflows/pr-checks.yaml
Labels: comp:ci, size/xs, backport release/service/v0.7
