Repository opentdf/platform, pull requests merged in 2025-08, with the labels that each got.

#2609 fix: updated generated sqlc
  service/policy/db/models.go
Labels: comp:db, comp:policy, size/s

#2613 feat(policy): Add legacy keys.
  docs/grpc/index.html
  docs/openapi/policy/kasregistry/key_access_server_registry.openapi.yaml
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/obligations/obligations.openapi.yaml
  docs/openapi/policy/unsafe/unsafe.openapi.yaml
  protocol/go/policy/kasregistry/key_access_server_registry.pb.go
  protocol/go/policy/objects.pb.go
  service/integration/kas_registry_key_test.go
  service/policy/db/key_access_server_registry.go
  service/policy/db/key_access_server_registry.sql.go
  service/policy/db/migrations/20250805000000_add_legacy_key_to_kas_keys.md
  service/policy/db/migrations/20250805000000_add_legacy_key_to_kas_keys.sql
  service/policy/db/models.go
  service/policy/db/queries/key_access_server_registry.sql
  service/policy/db/schema_erd.md
  service/policy/kasregistry/key_access_server_registry.proto
  service/policy/kasregistry/key_access_server_registry_keys_test.go
  service/policy/objects.proto
Labels: comp:db, comp:policy, size/m, docs

#2617 refactor(policy): Return standardized algorithm string from indexer.
  service/internal/security/basic_manager.go
  service/internal/security/basic_manager_test.go
  service/internal/security/in_process_provider.go
  service/kas/access/publicKey_test.go
  service/kas/access/rewrap.go
  service/kas/access/rewrap_test.go
  service/kas/key_indexer.go
  service/kas/key_indexer_test.go
  service/trust/delegating_key_service_test.go
  service/trust/key_index.go
Labels: comp:kas, size/s

#2616 feat(policy): Modify KAS indexer to support legacy keys.
  service/internal/security/in_process_provider.go
  service/kas/access/publicKey_test.go
  service/kas/access/rewrap.go
  service/kas/access/rewrap_test.go
  service/kas/key_indexer.go
  service/kas/key_indexer_test.go
  service/trust/delegating_key_service.go
  service/trust/delegating_key_service_test.go
  service/trust/key_index.go
Labels: comp:kas, size/s

#2625 chore(core): include userinfo endpoint in well known response.
  service/internal/auth/discovery.go
Labels: size/xs, comp:middleware:auth

#2633 chore(ci): Fixes for checks for buf and go mods
  .github/workflows/checks.yaml
Labels: comp:ci, size/xs

#2640 chore(ci): Add BDD Test framework
  .github/scripts/init-temp-keys.sh
  .github/workflows/checks.yaml
  .gitignore
  Dockerfile
  README.md
  docker-compose.yaml
  go.work
  run-compose.sh
  service/cmd/provisionKeycloak.go
  tests-bdd/README.md
  tests-bdd/cukes/glue_platform.go
  tests-bdd/cukes/resources/keycloak_base.template
  tests-bdd/cukes/resources/platform.template
  tests-bdd/cukes/resources/platform_compose.template
  tests-bdd/cukes/steps_attributes.go
  tests-bdd/cukes/steps_localplatform.go
  tests-bdd/cukes/steps_namespaces.go
  tests-bdd/cukes/steps_smoke.go
  tests-bdd/cukes/utils/utils_genKeys.go
  tests-bdd/features/example.feature
  tests-bdd/features/smoke.feature
  tests-bdd/go.mod
  tests-bdd/go.sum
  tests-bdd/platform_test.go
Labels: comp:ci, size/xl

#2645 chore: Add dependency-review workflow that always targets `main`
  .github/workflows/main-dependency-review.yaml
Labels: comp:ci, size/s
