Repository opentdf/platform, pull requests merged in 2025-09, with the labels that each got.

#2671 feat(core): Bump default write timeout.
  service/internal/server/server.go
Labels: size/xs

#2599 feat: add AES protected key interface and implementation
  lib/ocrypto/interfaces.go
  lib/ocrypto/protected_key.go
  lib/ocrypto/protected_key_test.go
Labels: size/m, comp:lib:ocrypto

#2601 feat(policy)!: Add manager column to provider configuration for multi-instance support
  docs/grpc/index.html
  docs/openapi/policy/kasregistry/key_access_server_registry.openapi.yaml
  docs/openapi/policy/keymanagement/key_management.openapi.yaml
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/unsafe/unsafe.openapi.yaml
  protocol/go/policy/keymanagement/key_management.pb.go
  protocol/go/policy/objects.pb.go
  service/integration/keymanagement_test.go
  service/internal/fixtures/fixtures.go
  service/internal/fixtures/policy_fixtures.yaml
  service/kas/key_indexer.go
  service/kas/key_indexer_test.go
  service/policy/db/key_management.go
  service/policy/db/key_management.sql.go
  service/policy/db/migrations/20250902000000_add_provider_manager_column.md
  service/policy/db/migrations/20250902000000_add_provider_manager_column.sql
  service/policy/db/models.go
  service/policy/db/queries/key_management.sql
  service/policy/keymanagement/key_management.go
  service/policy/keymanagement/key_management.proto
  service/policy/keymanagement/key_management_test.go
  service/policy/keymanagement/trust_integration_test.go
  service/policy/objects.proto
  service/wellknownconfiguration/wellknown_configuration.go
  service/wellknownconfiguration/wellknown_configuration_test.go
Labels: comp:db, comp:policy, size/m, docs

#2676 feat(core): Encapsulate>Encrypt
  lib/ocrypto/ec_key_pair.go
  lib/ocrypto/interfaces.go
  lib/ocrypto/protected_key.go
  lib/ocrypto/protected_key_test.go
  service/internal/security/basic_manager.go
  service/internal/security/in_process_provider.go
  service/kas/access/rewrap.go
  service/trust/delegating_key_service_test.go
  service/trust/key_manager.go
Labels: comp:kas, size/s, comp:lib:ocrypto

#2639 chore(core): decompose config loading
  service/cmd/migrate.go
  service/cmd/policy.go
  service/cmd/provisionFixtures.go
  service/internal/auth/config.go
  service/internal/server/server.go
  service/pkg/config/config.go
  service/pkg/config/config_file_loader.go
  service/pkg/config/config_test.go
  service/pkg/config/default_settings_loader.go
  service/pkg/config/environment_value_loader.go
  service/pkg/config/loader.go
  service/pkg/db/db.go
  service/pkg/server/options.go
  service/pkg/server/start.go
  service/pkg/server/start_test.go
Labels: size/l, comp:middleware:auth

#2704 feat(policy): Include Triggers in GET/LISTable reqs
  service/integration/obligations_test.go
  service/policy/db/obligations.go
  service/policy/db/obligations.sql.go
  service/policy/db/queries/obligations.sql
  service/policy/db/utils.go
Labels: comp:db, comp:policy, size/l, docs

#2703 feat(policy): add FQN of obligation definitions/values to protos
  docs/grpc/index.html
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/obligations/obligations.openapi.yaml
  protocol/go/policy/objects.pb.go
  service/policy/objects.proto
Labels: comp:policy, size/xs, docs

#2699 feat(policy): add protovalidate for obligation defs + vals
  docs/grpc/index.html
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/obligations/obligations.openapi.yaml
  lib/identifier/obligations.go
  lib/identifier/obligations_test.go
  protocol/go/policy/objects.pb.go
  protocol/go/policy/obligations/obligations.pb.go
  service/integration/obligation_triggers_test.go
  service/integration/obligations_test.go
  service/policy/db/obligations.go
  service/policy/objects.proto
  service/policy/obligations/obligations.go
  service/policy/obligations/obligations.proto
  service/policy/obligations/obligations_test.go
Labels: comp:db, comp:policy, size/m, docs

#2715 feat(core): Lets key manager factory take context
  service/pkg/server/options.go
  service/pkg/server/services.go
  service/pkg/server/services_test.go
  service/pkg/server/start.go
  service/pkg/server/start_test.go
  service/pkg/serviceregistry/serviceregistry.go
  service/trust/delegating_key_service.go
  service/trust/key_manager.go
Labels: size/m

#2720 chore(ci): test CLI e2e workflow with GNU parallel
  .github/workflows/checks.yaml
Labels: comp:ci, size/xs

#2733 fix(core): return services in the order they were registered
  service/pkg/server/services.go
  service/pkg/server/services_test.go
  service/pkg/serviceregistry/serviceregistry.go
Labels: size/s

#2745 feat(authz): obligations protos within auth service
  docs/grpc/index.html
  docs/openapi/authorization/v2/authorization.openapi.yaml
  protocol/go/authorization/v2/authorization.pb.go
  service/authorization/v2/authorization.proto
Labels: comp:authorization, size/s, docs

#2760 feat(core): propagate token clientID on configured claim via interceptor into shared context metadata
  docs/Configuring.md
  opentdf-dev.yaml
  opentdf-ers-mode.yaml
  opentdf-example.yaml
  opentdf-kas-mode.yaml
  service/internal/auth/authn.go
  service/internal/auth/authn_test.go
  service/internal/auth/config.go
  service/pkg/auth/context_auth.go
  service/pkg/auth/context_auth_test.go
Labels: size/m, comp:middleware:auth
