Repository opentdf/platform, pull requests merged in 2025-07, with the labels that each got.

#2522 feat(core): Add the ability to configure the http server settings
  opentdf-dev.yaml
  service/internal/server/server.go
Labels: size/s

#2475 fix(sdk): Prefer KID and Algorithm selection from key maps
  examples/cmd/encrypt.go
  sdk/basekey.go
  sdk/basekey_test.go
  sdk/granter.go
  sdk/granter_test.go
  sdk/kas_client.go
  sdk/tdf.go
  sdk/tdf_config.go
  sdk/tdf_test.go
  service/internal/security/crypto_provider.go
  service/internal/security/standard_crypto.go
  service/trust/delegating_key_service.go
  test/start-up-with-containers/action.yaml
Labels: comp:sdk, size/m, comp:lib:ocrypto

#2526 feat(authz): sensible request limit upper bounds
  .github/workflows/checks.yaml
  Makefile
  docs/grpc/index.html
  docs/openapi/authorization/v2/authorization.openapi.yaml
  protocol/go/CHANGELOG.md
  protocol/go/authorization/v2/authorization.pb.go
  service/authorization/v2/authorization.proto
  service/authorization/v2/authorization_test.go
Labels: comp:authorization, size/s, docs

#2530 fix(authz): access pdp should use proto getter
  service/internal/access/v2/pdp.go
Labels: size/xs

#2531 chore(ci): benchmarking bulk decisioning should comply with API upper bound limits
  .github/workflows/checks.yaml
Labels: comp:ci, size/xs

#2536 feat(sdk): bump protocol/go v0.6.0
  sdk/go.mod
  sdk/go.sum
Labels: comp:sdk, size/xs

#2488 adr(docs): ADR for key deletion.
  adr/decisions/2025-06-26-delete-keys.md
Labels: size/s

#2576 feat(policy): Add validation to delete keys
  docs/grpc/index.html
  docs/openapi/policy/unsafe/unsafe.openapi.yaml
  protocol/go/policy/unsafe/unsafe.pb.go
  service/policy/unsafe/unsafe.proto
Labels: comp:policy, size/xs, docs, backport release/protocol/go/v0.6

#2548 fix(core): resolve 'built-in' typos
  .github/workflows/checks.yaml
  service/internal/auth/casbin.go
  service/pkg/server/options.go
  service/pkg/server/start.go
Labels: comp:ci, size/s, comp:middleware:auth

#2579 feat(policy): add obligation protos
  docs/grpc/index.html
  docs/openapi/policy/objects.openapi.yaml
  docs/openapi/policy/obligations/obligations.openapi.yaml
  protocol/go/policy/objects.pb.go
  protocol/go/policy/obligations/obligations.pb.go
  protocol/go/policy/obligations/obligations_grpc.pb.go
  protocol/go/policy/obligations/obligationsconnect/obligations.connect.go
  service/policy/objects.proto
  service/policy/obligations/obligations.go.x
  service/policy/obligations/obligations.proto
  service/policy/obligations/obligations_test.go
  service/policy/policy.go
Labels: comp:policy, size/m, docs

#2575 feat(policy): Allow the deletion of a key.
  .github/release-please/release-please-manifest.json
  protocol/go/CHANGELOG.md
  sdk/CHANGELOG.md
  service/go.mod
  service/go.sum
  service/integration/attribute_values_test.go
  service/integration/attributes_test.go
  service/integration/kas_registry_key_test.go
  service/integration/kas_registry_test.go
  service/integration/keymanagement_test.go
  service/integration/namespaces_test.go
  service/pkg/db/errors.go
  service/policy/db/key_access_server_registry.go
  service/policy/unsafe/unsafe.go
Labels: comp:db, comp:policy, comp:ci, size/s, backport release/service/v0.7

#2602 fix(core): Attempt to fix shellcheck
  .github/workflows/checks.yaml
Labels: comp:ci, size/xs
