Repository opentdf/platform, changes with the owners that CODEOWNERS names for each.
All owners: @opentdf/maintainers, @opentdf/architecture, @opentdf/cli, @opentdf/kas, @opentdf/go-sdk, @opentdf/security

chore(main): Temp keys generation script for Windows (#838)
  .github/scripts/init-temp-keys.cmd
Owners: @opentdf/architecture, @opentdf/maintainers

Create nanoTDF
  lib/ocrypto/ec_key_pair.go
  sdk/nanotdf.go
  sdk/nanotdf_config.go
  sdk/nanotdf_config_test.go
  sdk/nanotdf_test.go
  sdk/resource_locator.go
Owners: @opentdf/architecture, @opentdf/go-sdk

update syntax for audit for better oganization
  service/internal/logger/audit.go
  service/internal/logger/logger.go
  service/kas/access/rewrap.go
Owners: @opentdf/maintainers, @opentdf/kas, @opentdf/architecture

move policy object and audit log definitions into their own file to keep audit.go clean
  service/internal/logger/audit.go
  service/internal/logger/auditPolicy.go
  service/kas/access/rewrap.go
Owners: @opentdf/maintainers, @opentdf/kas, @opentdf/architecture

Add support for ECDH keys and improve error handling
  .github/scripts/init-temp-keys.sh
  lib/ocrypto/ec_key_pair.go
  service/internal/security/standard_crypto.go
  service/kas/access/publicKey.go
  service/kas/access/rewrap.go
Owners: @opentdf/architecture, @opentdf/maintainers, @opentdf/kas

add roundtrip test case
  sdk/nanotdf_test.go
Owners: @opentdf/go-sdk, @opentdf/architecture

ReadNanoTDF code
  sdk/nanotdf.go
  sdk/nanotdf_config.go
  sdk/nanotdf_test.go
  sdk/resource_locator.go
Owners: @opentdf/go-sdk, @opentdf/architecture

Refactor nanoTDF rewrap and key generation logic
  service/internal/security/standard_crypto.go
  service/kas/access/rewrap.go
Owners: @opentdf/maintainers, @opentdf/kas, @opentdf/architecture

Fix the server compile errors
  sdk/nanotdf.go
  service/kas/access/rewrap.go
Owners: @opentdf/go-sdk, @opentdf/architecture, @opentdf/kas

Fix typo in README files .yml -> .yaml
  README.md
  service/README.md
Owners: @opentdf/maintainers

extract actor ID as token sub
  go.work.sum
  service/internal/logger/audit.go
  service/internal/logger/auditPolicy.go
  service/kas/access/rewrap.go
Owners: @opentdf/maintainers, @opentdf/kas, @opentdf/architecture

Refactor key management in NanoTDF rewrap and standard crypto
  service/internal/security/standard_crypto.go
  service/kas/access/rewrap.go
Owners: @opentdf/maintainers, @opentdf/kas, @opentdf/architecture

avoid nil pointer issue with json marshal
  service/internal/logger/audit.go
Owners: @opentdf/maintainers

fix: bump internal versions (#840)
  sdk/go.mod
  sdk/go.sum
  service/go.mod
  service/go.sum
Owners: @opentdf/go-sdk, @opentdf/architecture, @opentdf/maintainers

chore(docs): Fix typo in README files (#844)
  README.md
  service/README.md
Owners: @opentdf/maintainers

CODEOWNERS:

# CODEOWNERS

* @opentdf/maintainers

## Lib

/.github/     @opentdf/architecture @opentdf/maintainers
/lib/         @opentdf/architecture @opentdf/maintainers
/lib/ocrypto  @opentdf/architecture

## General

.gitignore    @opentdf/maintainers
go.mod        @opentdf/maintainers
*.sum         @opentdf/maintainers

### Documentation

*.md          @opentdf/maintainers
/docs/        @opentdf/maintainers
/examples/    @opentdf/maintainers

## Services

/protocol/go/          @opentdf/architecture @opentdf/maintainers

### Policy

/service/migrations/   @opentdf/cli @opentdf/architecture
/service/policy/       @opentdf/cli @opentdf/architecture

### Key Access Server

/service/kas/           @opentdf/kas @opentdf/architecture

## SDK

/sdk/ @opentdf/go-sdk @opentdf/architecture

## High Security Area

CODEOWNERS     @opentdf/architecture @opentdf/security
LICENSE        @opentdf/architecture
