Repository opentdf/platform, changes with the owners that CODEOWNERS names for each.
All owners: @opentdf/opentdf-architecture, @opentdf/opentdf-developer, @opentdf/opentdf-policy, @opentdf/opentdf-go-sdk, @opentdf/opentdf-authorization, @opentdf/opentdf-kas

CODEOWNERS:

# CODEOWNERS

* @opentdf/opentdf-architecture

## Lib

/.github/     @opentdf/opentdf-architecture
/lib/         @opentdf/opentdf-architecture
/protocol/go/ @opentdf/opentdf-architecture

## General

.gitignore    @opentdf/opentdf-developer
README.md     @opentdf/opentdf-developer
/docs/        @opentdf/opentdf-developer
/examples/    @opentdf/opentdf-developer

## Policy

/service/migrations/ @opentdf/opentdf-policy @opentdf/opentdf-architecture
/service/policy/ @opentdf/opentdf-policy @opentdf/opentdf-architecture

## SDK

/sdk/ @opentdf/opentdf-go-sdk @opentdf/opentdf-architecture

## Authorization

/service/authorization/ @opentdf/opentdf-authorization @opentdf/opentdf-architecture

## Key Access Server

/service/kas/ @opentdf/opentdf-kas @opentdf/opentdf-architecture

docs(devdoc): Details how to add a new go module
  README.md
Owners: @opentdf/opentdf-developer

test(authorization): readme
  policies/entitlements/README.md
  policies/policies_test.go
Owners: @opentdf/opentdf-developer, @opentdf/opentdf-architecture

add integration test validating both escaped and unescaped function, and add functionality to unescape on SELECT query and hydration coming out of the DB
  service/integration/subject_mappings_test.go
  service/internal/fixtures/policy_fixtures.yaml
  service/policy/db/subject_mappings.go
Owners: @opentdf/opentdf-architecture, @opentdf/opentdf-policy

test(authorization): require
  policies/policies_test.go
Owners: @opentdf/opentdf-architecture

test(authorization): rego
  service/policies/policies_test.go
Owners: @opentdf/opentdf-architecture

test(authorization): builtin
  service/policies/policies_test.go
Owners: @opentdf/opentdf-architecture

test(authorization): interface
  service/policies/entitlements/conditions-test.rego
  service/policies/entitlements/entitlements-keycloak.rego
  service/policies/policies_test.go
Owners: @opentdf/opentdf-architecture

test(authorization): require
  service/policies/policies_test.go
Owners: @opentdf/opentdf-architecture

test(authorization): readme
  service/policies/entitlements/README.md
  service/policies/policies_test.go
Owners: @opentdf/opentdf-developer, @opentdf/opentdf-architecture

lint fixes
  service/integration/subject_mappings_test.go
Owners: @opentdf/opentdf-architecture

test(authorization): rebase fix
  service/policies/policies_test.go
Owners: @opentdf/opentdf-architecture

lint fixes
  service/integration/subject_mappings_test.go
  service/policy/db/subject_mappings.go
Owners: @opentdf/opentdf-architecture, @opentdf/opentdf-policy

test(authorization): unit test rego
  service/policies/entitlements/README.md
  service/policies/entitlements/conditions-test.rego
  service/policies/policies_test.go
Owners: @opentdf/opentdf-developer, @opentdf/opentdf-architecture

more lint fixes
  service/integration/subject_mappings_test.go
Owners: @opentdf/opentdf-architecture

cleanup lint errors
  docs/configuration.md
  service/internal/auth/casbin.go
  service/internal/auth/casbin_test.go
Owners: @opentdf/opentdf-developer, @opentdf/opentdf-architecture

fix: update .air.toml with new project layout (#525)
  .air.toml
Owners: @opentdf/opentdf-architecture
